<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<service-group>
  <name replace-wildcards="yes">consul-%h</name>
  <service>
    <type>_consul-server._tcp</type>
    <port>8300</port>
  </service>
  <service>
    <type>_consul-http._tcp</type>
    <port>8500</port>
  </service>
</service-group>
